@keyframes enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.item {
    display: inline-block;
    width: 25%;
    min-width: 200px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 20px 1px grey;
    animation-duration: 0.5s;
    animation-name: enter;
}